@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&family=Montserrat:wght@600&display=swap");

:root {
  --grey: #9ea7b0;
  --grey-light: #dde2e8;
  --white: #fff;
  --black: #000;
  --red: #9f0015;
  --pink:#f535aa;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
  overflow-x: hidden;
}

.header {
  width: min(90%, 160rem);
  margin: 4.5rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 4.5rem;
  left: 50%;
  transform: translate(-50%, -4.5rem);
  z-index: 50;
  font-family: "Montserrat", sans-serif;
}

.header-logo {
  margin-right: 5rem;
  margin-top: -5rem;
}

.nav {
  flex-basis: 50%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.nav-list_item a {
  text-decoration: none;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 27px;
  color: var(--red);
  border-bottom: 1px solid transparent;
  transition: all 0.3s linear;
  padding-bottom: 1rem;
}

.nav-list_item a:hover {
  border-bottom: 1px solid var(--pink);
}

.nav-btn {
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
.nav-btn {
  display: block;
 }
  
}

.phone-nav {
  position: fixed;
  z-index: 99;
  right: 0;
  height: 100%;
  background-color: var(--white);
  width: 20rem;
  padding-top: 10rem;
  transition: all 0.3s linear;
}

.x-icon {
  width: 2rem;
  position: absolute;
  top: 2rem;
  right: 3rem;
  cursor: pointer;
}

.phone-nav_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5rem;
}

.phone-nav_list_item {
  border-bottom: 1px solid var(--white);
  width: 100%;
}

.phone-nav_list_item a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 27px;
  color: var(--black);
  transition: all 0.3s linear;
  padding-bottom: 5px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 98;
  background-color: #250304;
  transition: all 0.3s linear;
}

.main {
  width: 100%;
}

.hero-section {
  background-image: url(../assets/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 0;
  }
  
  .next-section {
  margin-top: 10rem;
  }
  
  .hero-heading {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: var(--red);
  text-align: center;
  width: 100%;
  max-width: 50rem;
  }
  
  @media screen and (max-width: 767px) {
  .hero-section {
  height: 50vh; /* Adjust the height for smaller screens */
  }
  }

.heading-1 {
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 20px;
}

.heading-2 {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 33px;
}

.heading-3 {
  font-weight: 900;
  font-size: 5rem;
  line-height: 61px;
  font-style: italic;
  text-transform: uppercase;
}

.hero-desc {
  position: absolute;
  bottom: 15%;
  right: 5%;
  width: min(90%, 62rem);
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  color: var(--white);
}

.autopsy-section {
  width: 100%;
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  }
  
  @media screen and (max-width: 768px) {
  .autopsy-section {
  height: auto;
  min-height: 100vh;
  }
  }

.content-container {
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
}

.autopsy-heading {
  width: min(90%, 50.2rem);
  background-color: var(--white);
  box-shadow: 0px 0px 25px rgba(134, 153, 183, 0.23);
  border-radius: 8px;
  padding: 3rem;
  font-size: 2.3rem;
  line-height: 30px;
  color: var(--white);
  position: absolute;
  top: 2%;
  left: 55%;
  z-index: 3;
}

.autopsy-heading::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 7rem;
  width: 2rem;
  height: 2rem;
  background-color: var(--white);
  transform: rotate(45deg);
}

.autopsy-heading h4 {
  font-weight: 700;
}

.autopsy-heading p {
  font-weight: 200;
  margin-top: 2rem;
}

.human-box {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human {
  width: 100%;
  position: relative;
  height: 100vh;
}
  #container3D canvas {
    width: 50vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* right: 500; */
  }

.human img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.human-shadow {
  width: 100%;
}

.human-img {
  /* z-index: 2; */
}
.points {
  position: absolute;
  top: 52%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 3em;
  height: 3em;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #f44336, #ff5722); 
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease; 
  z-index: 99;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0);
  }
  
  .points::before {
  position: absolute;
  top: 45px;
  left: -90px;
  background: rgba(0, 0, 0, 0.8); 
  color: white;
  width: 200px;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s ease; 
  pointer-events: none;
  content: '';
  }
  
  .points::after {
  content: '';
  position: absolute;
  top: 35px;
  left: -20px;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent; 
  opacity: 0;
  transition: all 0.4s ease; 
  }
  
  .points:hover {
    border-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }
  
  .points:hover::before {
  opacity: 1;
  top: 55px;
  }
  
  .points:hover::after {
  opacity: 1;
  top: 45px;
  }

#point-1::before{
  content:'PITUITARY: Despite its small size, the gland influences nearly every part of your body. The hormones it produces help regulate important functions, such as growth, blood pressure and reproduction.';
}
#point-1:hover::before{
  opacity: 1;
}

#point-2::before{
  content:'BRAIN STEM: Responsible for regulating most of the body`s automatic functions that are essential for life. These include: breathing. heartbeat.';
}
#point-2:hover::before{
  opacity: 1;
}

#point-3::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-3:hover::before{
  opacity: 1;
}

#point-4::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-4:hover::before{
  opacity: 1;
}

#point-5::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-5:hover::before{
  opacity: 1;
}

#point-6::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-6:hover::before{
  opacity: 1;
}

#point-7::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-7:hover::before{
  opacity: 1;
}

#point-8::before{
  content: 'Sample text'
}
#point-8:hover::before{
  opacity: 1;
}

#point-9::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cfactory bulb, where information about odours is processed.';
}
#point-9:hover::before{
  opacity: 1;
}
#point-10::before{
  content:'OLFACTORY BULBS: The axons of olfactory receptor (smell receptor) cells extend directly into the highly organized olfactory bulb, where information about odours is processed.';
}
#point-10:hover::before{
  opacity: 1;
}

.autopsy-desc {
  align-self: center;
  width: min(90%, 60rem);
}

.autopsy-desc h4 {
  font-weight: 700;
  font-size: 3.9rem;
  line-height: 47px;
  color: var(--red);
}

.autopsy-desc p {
  margin-top: 3rem;
  font-weight: 400;
  font-size: 3rem;
  line-height: 36px;
  color: var(--white);
}

.underline {
  margin-inline: auto;
  height: 2px;
  width: min(90%, 160rem);
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-banner {
  background-color: var(--gret);
  padding: 50px 0;
  }
  
  .banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .footer-banner_list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  }
  
  .footer-banner_list-item a {
  text-decoration: none;
  color: var(--black);
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: all 0.3s linear;
  margin: 0 10px;
  font-size: 18px;
  }
  
  .footer-social {
  margin-top: 20px;
  text-align: center;
  filter: grayscale(100%) invert(100%);
  }
  
  .social-list {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  }
  
  .social-icon {
  margin-right: 20px;
  }
  
  .social-icon:last-of-type {
  margin-right: 0;
  }
.footer-banner_list-item a:hover {
  border-bottom: 1px solid var(--white);
}

.hide-nav .phone-nav,
.hide-nav .overlay {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}

@media only screen and (max-width: 68.75em) {
  .nav {
    display: none;
  }

  .autopsy-section {
    flex-direction: column;
    margin: 22rem auto;
  }

  .autopsy-heading {
    top: -17%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 26.75em) {
  .heading-3 {
    font-size: 2.5rem;
    line-height: 35px;
  }

  .autopsy-heading h4 {
    font-size: 1.8rem;
  }
  .autopsy-heading p {
    font-size: 1.6rem;
  }
}

#container3D canvas {
  width: 50%;
  height: 100%;
  position: absolute;
 overflow: hidden;
}

@media screen and (max-width: 768px) {
  #container3D {
    display: none;
  }
}

.about-us {
  text-align: center;
  padding: 50px 0;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  }
  
  .about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f44336;
  }
  
  .about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 600px;
  color: #555;
  }
  
  @‌media screen and (min-width: 768px) {
  .about-us {
  padding: 100px 0;
  }
  .about-us p {
  font-size: 20px;
  max-width: 800px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

form {
  margin: auto;
  max-width: 500px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #f44336;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-color: #ff7961;
  box-shadow: 0 0 10px #ff7961;
}

input[type="submit"] {
  background-color: #f44336;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  transition: all 0.3s;
}

input[type="submit"]:hover {
  background-color: #ff7961;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 75%;
  margin-top: 6px;
}

@‌media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}



  
.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  }
  
  .box {
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 340px;
  width: 50%;
  max-width: 600px;
  box-shadow: 0 0 0 2px #f44336;
  transition: box-shadow 0.3s;
  overflow: hidden; /* Added to hide the corners of the image */
  /* margin-top: 50px; */
  }
  
  .box-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/art.png'); 
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
  }
  
  .box:hover {
  box-shadow: 0 0 10px 2px #f44336;
  }
  
  p {
  margin: 0;
  color: #fff; 
  position: relative; 
  }